* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: rgb(51, 47, 47);
}

.content {
  background-color: rgb(16, 16, 16);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1.6rem;
  box-shadow: rgb(136, 139, 142) 0px 20px 30px -10px;
}

.content > h1 {
  font-size: 3.6rem;
  font-weight: 700;
  color: rgb(239, 239, 239);
}

.h1_span,
h2 {
  color: aquamarine;
}

.content > p {
  color: rgb(239, 239, 239);
  font-size: 1.4rem;
  font-weight: 600;
}

#main {
  margin-top: 2.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 80vh;
}

label {
  margin: 0.4rem 0;
  font-size: 1.8rem;
  margin-top: 1rem;
  color: aquamarine;
}

textarea,
input,
#diet {
  height: 2.8rem;
  color: black;
}

option {
  color: black;
}

textarea {
  height: 5rem;
}

select,
#origin {
  color: black;
  font-weight: 500;
}

#serves {
  width: 100%;
}

#allergens {
  margin-bottom: 1rem;
}

.controls {
  display: flex;
  justify-content: space-around;
}

.btn {
  background-color: rgb(16, 16, 16);
  color: aquamarine;
  font-weight: 700;
  height: 3.9rem;
  width: 6.8rem;
  margin-bottom: 2rem;
}

/* ******* card ******* */

.card {
  color: rgb(239, 239, 239);
}
